.header {
  display: grid;
  padding: 12px;

  .side-a {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56px;
      width: 56px;
      border-radius: 10px;
      background-color: #00293C;
      color: #F62A00;
      font-size: 1.8rem;
    }

    .blog-title {
      margin-left: 24px;
      font-size: 1.4rem;
      font-family: 'Trade Winds', cursive;
      color: #00293C;
    }
  }

  .side-b {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .session-controls {
      margin-right: 32px;

      .user {
        color: #00293C;
        margin: 4px;
        font-size: .9rem;
      }
      .sign-out {
        color: #F62A00;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: 50vw 50vw;

    .side-a {
      padding-left: 12px;

      .blog-title {
        font-size: 1.8rem;
      }
    }

    .side-b {
      justify-content: flex-end;
      padding-right: 12px;
    }
  }
}
