.post-list-item {
  padding: 8px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

.post-list-item .post-link {
  cursor: pointer;
}

.post-list-item .post-link .post-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.post-list-item .post-link .post-preview {
  font-size: 0.9rem;
}
