.blog {
  .header {
    width: 94vw;
    height: 10vh;
    padding: 3vh 3vw;
  }
  .blog-content {
    width: 98vw;
    height: 84vh;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .blog {
    .header {
      width: 98vw;
      height: 12vh;
      padding: 1vh 1vw;
    }
    .blog-content {
      width: 98vw;
      height: 82vh;
      padding: 1vh 1vw;
    }
  }
}
