$blue-green: #43676B;

$peach: #EE836F;

$light-blue: #00A3AF;

$blue-grey: #80A4BE;

$grey: #7F8489;

$yellow: #DCCB18;

$green: #6ACC00;

$dark-green: #427F00;

$dark-blue: #112F41;

$sea-green: #4FB99F;

$light-red: #ED553B;

$dark-grey: #333D43;

$darker-grey: #252525;

$light-grey: #CCCCCC;
